main {
    display: grid;
    grid-template-rows: auto 1fr;
    gap: 20px;
}

.search {
    display: flex;
    justify-content: space-between;
}

form {
    display: flex;
}

input,
select {
    height: 40px;
    width: 175px;
    padding: 0 5px;
    font-size: 1.1em;
}

button {
    height: 40px;
    width: 40px;
}

.list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    grid-auto-rows: 175px;
    gap: 10px;
}

.card {
    background: rgb(108, 195, 239);
    border: 1px solid lightgrey;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);

    padding: 10px;
    display: grid;
    align-content: space-between;
    grid-template-columns: 175px 1fr;
}

.card img {
    width: 100px;
    height: 100px;
    object-fit: contain;
    grid-template-rows: center;
}

.card h2 {
    font-size: 1.1em;
}
.attributes {
    align-self: center;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.released {
    font-size: 0.8em;
}

.content {
    padding: 10px;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

.content h2,
.content p {
    margin: 0;
}

.content h2 {
    font-size: 1.1em;
}
